body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #e0b8ff;
    padding: 10px;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

section {
    margin: 20px;
}

h2 {
    margin-bottom: 10px;
}

button {
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

